.login-div{
    height: 100vh ;
    input{
        height: 4%;
        width: 30%;
        margin: 0.5%;
        padding-left: 0.5%;
    }
}
.LinkTree{
    div{
        display: flex;
        justify-content: center;
        a{
            text-decoration: none;
        }
    }
}