.login-div{
    height: 100vh ;
    input{
        height: 5%;
        width: 70%;
        margin: 0.5%;
        padding-left: 0.5%;
    }
}
.LinkTree{
    div{
        display: flex;
        justify-content: center;
        a{
            text-decoration: none;
        }
    }
}

a {
    color: black; 
    text-decoration: none; 
  
  }
  @keyframes slideDown {
    from {
        transform: translateX(-50%) translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}

  .Alert-media {
    position: fixed;
    top: 6%;
    left: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    padding: 8px 10px;
    border-radius: 5px;
    color: rgb(25, 26, 25);
    background-color: rgb(214, 213, 213);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-name: slideDown;
    animation-duration: 1s;
    animation-fill-mode: forwards; /* Keeps the element in the final state of animation */
    animation-timing-function: ease-out;
  }
 
  .close-btn-media {
    background-color:rgb(79, 189, 89) ;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 5px 0;
  }  
  .counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 3px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #5dc762;
  }
  
  .count {
    font-size: 24px;
    margin: 0 10px;
    min-width: 50px;
    text-align: center;
  }
  .ShareOnWhatsapp {
    position: fixed;
    bottom: 50%;
    transform: translateY(60%);
    right: 0px; 
    z-index: 10000;
   
      div{
        width: 42px;
        height: 40px !important;
        border: 1px solid black;
        border-top: none;
        &:nth-child(2){
          background-image: url("../logo.home/Wp.PNG");
        }
        &:nth-child(3){
          background-image: url("../logo.home/inst.jpg");
        }
       
        background-size:contain;
      }
      button {
        padding: 10px;
        width: 42px;
        height: 22px;
        font-size: small;
        border: 1px solid black;
        background-color: white;
        color: rgb(0, 0, 0); 
        display: flex;
        justify-content: center; 
        align-items: center;
        cursor: pointer; 
  
        &:hover {
          background-color: darken(#25D366, 10%); 
        } 
    }
  }
  
  
  