.div-in-input{
    input{
        width: 98%;
        border-radius: $ZeroPx;
        background-color: $White;
        height: 35px;
        outline: $None;
        border: 1px $Solid $WhiteDark;
        padding-left: $ZeroPointFive;
    }
}
.div-in-label{
    label{
        padding-left: $ZeroPointFive;
        font-style: italic;
    }
}
.div-in-select{
    select{
        width: 98%;
        border-radius: $ZeroPx;
        background-color: $White;
        height: 35px;
        outline: $None;
        border: 1px $Solid $WhiteDark;
        padding-left: $ZeroPointFive;
    }
}
.main-div-for-chechbox{
    div{
        input{
            height: 15px;
            width: 15px;
        }
    }
}
.filetype {
    display: $None; 
  }
  
  .custom-file-input {
    font-family: Arial, sans-serif;
    background-color: $HomeLandColor;
    border: 1px $Solid $WhiteDark;
    color: $White;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .custom-file-input:hover {
    background-color:  $HomeLandColorWhite;
  }
  
  .custom-file-input:active {
    background-color: $HomeLandColor;
  }
  .answer-images-rent{   
    border-radius: 5px;
    padding-bottom: 2%;
    height:700px !important;
     div{
        height: 100%;
    &:nth-child(1){
        border-radius: 5px;
        position: relative;
        @include FlexJustify;
        div{
            width: 90%;
            height: 100%;
            position: absolute;
            @include FlexAlign;
            justify-content: space-between;
           
            span{
                 z-index: 5000;
                display: inline-block;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background-color:$WhiteDarker;
              
                i{
                    margin-top: 20%;
                    margin-left: 30%;
                }
        }
        &:nth-child(2){
                height: 100%;
                width: 100%;
                div{
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    img{
                    object-fit: cover !important;
                    }
                }
            }
    }
    }   
    &:nth-child(2){
       
       p{
        padding-left: 2%;
        margin-bottom: 0%;
        font-weight: 600;
        font-style: italic;
        span{
            font-weight: 400;
            margin-left: 1%;
            font-style: normal;
          }
       }
    }   
    }
    
}
@media (max-width:900px) {
    .answer-images-rent{   
        
        height:500px !important;}
}
@media (max-width:600px) {
    .answer-images-rent{   
        
        height:400px !important;}
}
@media (max-width:450px) {
    .answer-images-rent{   
        
        height:300px !important;}
}
.warningForm{
    color: red;
    display: none;
}
