.div-in-input{
    input{
        width: 98%;
        border-radius: 0px;
        background-color: rgb(255, 255, 255);
        height: 35px;
        outline: none;
        border: 1px solid rgb(163, 163, 163);
        padding-left: 0.5%;
    }
}
.div-in-label{
    label{
        padding-left: 0.5%;
        font-style: italic;
    }
}
.div-in-select{
    select{
        width: 98%;
        border-radius: 0px;
        background-color: rgb(255, 255, 255);
        height: 35px;
        outline: none;
        border: 1px solid rgb(163, 163, 163);
        padding-left: 0.5%;
        // option{
        //     &:hover{
        //         background-color: aqua !important;
        //     }
        // }
    }
}