
.footer-end-part {
    padding: 3%;
    p {
        color:$Black;
        text-align: center;
        margin-bottom: 0%;
    }
}
.Error-massage{
    height: 50vh;
    button{
        margin-top: 4%;
        background-color: $HomeLandColor;
        &:hover{
            background-color: $HomeLandColorWhite;
        }
        a{
            color: $White;
            font-size: 120%;
        }
    }
}