* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-weight: 600 ;
}
.header-ul {
    padding: 1%;
    margin:0.5% 0 5px 0;
    height: auto;
    width: 250px;
    @include FlexAlign;
    list-style-type: $None;
    justify-content: space-between;
    

    li {
        border-radius: 20px;
        padding: 1% 4%;
        a {
            text-decoration: $None;
            color: $White;
              &:hover{
            color:rgb(217, 223, 218);
        }
        }
    }
}

.for-height-header {
    height: auto;
    background-color:$HomeLandColor;
    span{
        color: $White;
    }
}

.logo-in-header {
    @font-face {
        font-family: 'CustomFont';
        src: url('../font/Geminies.ttf') format('woff2'),
            url('../font/Geminies.ttf') format('woff');
    }

    font-family:'CustomFont';
    font-size: 151%;
}

.download-ads {
    padding: 0.5% 0%;
    margin: 0.5% 0 5px 0;
    border-radius: 0% !important;
    width: 180px; 
    color: $White;
    position: relative;
    background-color:$HomeLandColorWhite;
    box-shadow: $Black 1px 1px 1px 1px;
    &:hover{
        background-color:$HomeLandColorBlack ;
        color: $White;
    }
    span{
        display: inline-block;
        width: 28px;
        height: 28px;
        margin: 3px;
        border-radius: 50%;
        background-color:$HomeLandColor;
        margin-right: 3%;
        i{
            margin-top: 20%;
        }
    }
}

.img-div-for-height {
    height: 200px;
}
.download-ads-elements{
    position: absolute;
    left: 0;
    top: 103.2%;
    background-color:$HomeLandColor ;
    width: 100%;
    ul{
        padding-left: 0;
        li{
            list-style-type: $None;
            padding: 3%;
            color: $White;
            &:hover{
                background-color: $HomeLandColorWhite;
            }
        }
    }
}
html,body{
    width: 100% !important;
}
Body {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

Body::-webkit-scrollbar {
    width: 10px;
    background-color:$ScrollbarColor ;
}

Body::-webkit-scrollbar-thumb {
    background-color:$WhiteDark; 
}

Body::-webkit-scrollbar-track {
    background-color:$ScrollbarColor;
}
.HomeLandColor{
    background-color: $HomeLandColorWhite !important;
}