* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-weight: 600 ;
}

.header-ul {
    padding: 1%;
    margin:0.5% 0 5px 0;
    height: auto;
    width: 250px;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;

    li {
        border-radius: 20px;
        
        padding: 1% 4%;
      
        a {
            text-decoration: none;
            color: white; 
              &:hover{
            color:rgb(217, 223, 218);
        }
        }
    }
}

.for-height-header {
    height: auto;
    background-color: rgb(79, 189, 89);
    span{
        color: white;
    }
}

.logo-in-header {
    @font-face {
        font-family: 'CustomFont';
        src: url('../font/Geminies.ttf') format('woff2'),
            url('../font/Geminies.ttf') format('woff');
    }

    font-family:'CustomFont';
    font-size: 151%;
}

.download-ads {
    padding: 0.5% 0%;
    margin: 0.5% 0 5px 0;
    border-radius: 0% !important;
    width: 180px; 
    color: white;
    position: relative;
    background-color:rgb(79, 145, 85) ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &:hover{
        background-color:rgb(128, 229, 136) ;
        color: white;
    }
    span{
        display: inline-block;
        width: 28px;
        height: 28px;
        margin: 3px;
        border-radius: 50%;
        background-color:rgb(72, 180, 81);
        margin-right: 3%;
        i{
            margin-top: 20%;
        }
    }
}

.img-div-for-height {
    height: 200px;
}
.download-ads-elements{
    position: absolute;
   
    left: 0;
    top: 103.2%;
    background-color:rgb(72, 180, 81) ;
    width: 100%;
    ul{
        padding-left: 0;
        li{
            list-style-type: none;
            padding: 3%;
            color: white;
            &:hover{
                background-color: rgb(112, 194, 148);
            }
        }
    }
}
html,body{
    width: 100% !important;
}