* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

.header-ul {

    padding-left: 0%;
    margin-bottom: 0%;
    height: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;

    li {
     
        a {
            text-decoration: none;
            color: white; 
              &:hover{
            color: #5ba9b3;
        }
        }
    }
}

.for-height-header {
    height: 50px;
    span{
        color: white;
    }
}

.logo-in-header {
    @font-face {
        font-family: 'CustomFont';
        src: url('../font/Geminies.ttf') format('woff2'),
            url('../font/Geminies.ttf') format('woff');
    }

    font-family:'CustomFont';
    font-size: 151%;
}

.download-ads {
    padding: 0.5% 1%;
    border-radius: 0% !important;
    width: 20%;
    span{
        display: inline-block;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color:rgb(95, 173, 129);
        margin-right: 3%;
        i{
            margin-top: 20%;
        }
    }
}

.img-div-for-height {
    height: 200px;
}