.insideCard-home{   
    border-radius: 5px;
    padding-bottom: 2%;
    height:105vw !important;
    box-shadow: $Black 0px 3px 8px;
    div{
        height: 40%;
    &:nth-child(1){
        border-radius: 5px;
        position: relative;
        .imgDivInside{
            width: 90%;
            height: 100%;
            position: absolute;
            @include FlexAlign;
            justify-content: space-between;
           
            span{
                 z-index: 5000;
                display: inline-block;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background-color:$WhiteDarker;
              
                i{
                    margin-top: 20%;
                    margin-left: 30%;
                }
        }
        &:nth-child(2){
                height: 100%;
                width: 100%;
                div{
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    img{
                    object-fit: cover !important;
                    }
                }
            }
    }
    }   
    &:nth-child(2){
       
       p{
        padding-left: 2%;
        margin-bottom: 0%;
        font-weight: 600;
        font-style: italic;
        span{
            font-weight: 400;
            margin-left: $ZeroPointFive;
            font-style: normal;
          }
       }
    }   
    }
    
}
.overflow-hidden{
    display: flex;
    justify-content: center;
    align-items: center;
}
.height-for-coordiante{
    height: 490px !important;
}
.height-for-calling{
    height: 50px;
}
@media(max-width:1600px) {
    .insideCard-home{
        height:110vw !important;
    }
}
@media(max-width:1500px) {
    .insideCard-home{
        height:125vw !important;
    }
}
@media(max-width:1400px) {
    .insideCard-home{
        height:125vw !important;
        div{
            height: 35%;}
    }
}
@media(max-width:1250px) {
    .insideCard-home{
        height:135vw !important;
    }
}
@media(max-width:1180px) {
    .insideCard-home{
        height:135vw !important;
    }
}
@media(max-width:1100px) {
    .insideCard-home{
        height:155vw !important;
    }
}
@media(max-width:1040px) {
    .insideCard-home{
        height:160vw !important;
    }
}
@media(max-width:970px) {
    .insideCard-home{
        height:165vw !important;
        div{
            height: 30%;}
    }
}
@media(max-width:870px) {
    .insideCard-home{
        height:180vw !important;
    }
}
@media(max-width:800px) {
    .insideCard-home{
        height:205vw !important;
    }
}
@media(max-width:700px) {
    .insideCard-home{
        height:230vw !important;
    }
}
@media(max-width:600px) {
    .insideCard-home{
        height:270vw !important;
        div{
            height: 25%;}
    }
}
@media(max-width:500px) {
    .insideCard-home{
        height:310vw !important;
        div{
            height: 23%;}
    }
}
@media(max-width:450px) {
    .insideCard-home{
        height:330vw !important;
        div{
            height: 23%;}
    }
}
@media(max-width:430px) {
    .insideCard-home{
        height:360vw !important;
        div{
            height: 20%;}
    }
}
@media(max-width:400px) {
    .insideCard-home{
        height:380vw !important;
        div{
            height: 20%;}
    }
}
@media(max-width:370px) {
    .insideCard-home{
        height:410vw !important;
        div{
            height: 18%;}
    }
}
@media(max-width:350px) {
    .insideCard-home{
        height:460vw !important;
    }
}
@media(max-width:320px) {
    .insideCard-home{
        height:520vw !important;
    }
}
.insideCard-homeTwo{
    height:175vw !important;
    div{
        height: 25%;
    }
}
@media(max-width:2300px) {
    .insideCard-homeTwo{
        height:90vw !important;
    }
}
@media(max-width:2100px) {
    .insideCard-homeTwo{
        height:100vw !important;
    }
}
@media(max-width:1900px) {
    .insideCard-homeTwo{
        height:120vw !important;
    }
}
@media(max-width:1700px) {
    .insideCard-homeTwo{
        height:150vw !important;
    }
}
@media(max-width:1500px) {
    .insideCard-homeTwo{
        height:170vw !important;
    }
}

@media(max-width:1250px) {
    .insideCard-homeTwo{
        height:200vw !important;
    }
}

@media(max-width:1100px) {
    .insideCard-homeTwo{
        height:235vw !important;
    }
}
@media(max-width:1040px) {
    .insideCard-homeTwo{
        height:260vw !important;
    }
}
@media(max-width:970px) {
    .insideCard-homeTwo{
        height:210vw !important;
        div{
            height: 20%;}
    }
}
@media(max-width:870px) {
    .insideCard-homeTwo{
        height:250vw !important;
    }
}
@media(max-width:800px) {
    .insideCard-homeTwo{
        height:285vw !important;
    }
}
@media(max-width:700px) {
    .insideCard-homeTwo{
        height:320vw !important;
    }
}
@media(max-width:600px) {
    .insideCard-homeTwo{
        height:340vw !important;}
}
@media(max-width:500px) {
    .insideCard-homeTwo{
        height:380vw !important;}
}
@media(max-width:450px) {
    .insideCard-homeTwo{
        height:470vw !important;
        div{
            height: 23%;}
    }
}
@media(max-width:430px) {
    .insideCard-homeTwo{
        height:460vw !important;
        div{
            height: 20%;}
    }
}
@media(max-width:400px) {
    .insideCard-homeTwo{
        height:480vw !important;
        div{
            height: 20%;}
    }
}
@media(max-width:370px) {
    .insideCard-homeTwo{
        height:510vw !important;
        div{
            height: 18%;}
    }
}
@media(max-width:350px) {
    .insideCard-homeTwo{
        height:560vw !important;
    }
}
@media(max-width:320px) {
    .insideCard-homeTwo{
        height:620vw !important;
    }
}
.logo-on-images{
    position: absolute;
    top: 55%;

    height: 20% !important;
    z-index: 60000;
    p{
        font-size: 100%;
        color:$White;
        opacity: 0.8;
    }
}
.bigScreen {
    display: block;
}
.smallScreen {
    display: none;
}


