.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.page-link {
    text-decoration: none;
    padding: 3px 6px;
    margin-left: 1px;
    margin: 0 4px;
    border: 1px solid rgb(173, 172, 172);
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

.page-link:hover {
    background-color: rgb(79, 189, 89) !important;
}
.active-page{
    button{
        background-color: rgb(79, 189, 89) ;
    color: white;
    }
    
}
.page-link:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


.page-link:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.page-active{
    background-color: rgb(79, 189, 89) !important;
}