.search-part{
display:flex;
justify-content:center;
flex-wrap:wrap;
}
.max-min-input{
    input{
       width: 50%; 
       height: 35px;
       border: 1px solid black;
       background-color:rgb(79, 189, 89) ;
       outline: none;
       padding-left: 1%;
       color: white;
       &:nth-child(1){
        border-right: none;
       }
       &::placeholder{
        color: white;
        padding-left: 1%;
       }
    }
    
}
.search-flex-part{
    overflow: hidden;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 2%;
    border-radius: 10px;
    div{
        display: flex;
        flex-direction: column;
        padding-left: 0.5%;
        padding-right: 0.5%;
        select{
            border-radius: 0px;
            outline: 0px;
            border: none;
            // option{
            //   padding-right: 20%;
            // }
        }
        label{
            color: white;
        }
    }
}
.search-btn-click{
    font-size: 120%;
    background-color:rgb(79, 189, 89)  ;
    &:hover{
        background-color:rgb(79, 173, 87)  ;
    }
span{
    margin-right: 0.5%;
    i{
         font-size: 80%; 
    }
}
span{
display: inline-block;
width: 29px;
height: 28px;
border-radius: 50%;
padding-left: 0.2%;
padding-bottom: 1%;
i{
   
}
}

}
.MakeHandSelect{
    background-color: rgb(79, 189, 89);
    span{
        color: white;
    }
}
.chechAndLabel{
    height: 100px;
    
    div{
        display: flex;
        flex-direction: row;
        input{
            width: 20px;
            height: 20px;
           
        }
    }
}
.btn-mycolor{
    background-color:rgb(79, 189, 89) ;
    color: white;
    &:hover{
        background-color: rgb(112, 211, 121);
    }
}
.forOverFlow {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Webkit-specific styles for the custom scrollbar */
.forOverFlow::-webkit-scrollbar {
    width: 10px;
    background-color:rgb(79, 189, 89); 
}

.forOverFlow::-webkit-scrollbar-thumb {
    background-color:rgb(255, 255, 255); 
}

.forOverFlow::-webkit-scrollbar-track {
    background-color:rgb(79, 189, 89);
}


