.search-part{
@include FlexJustify;
flex-wrap:wrap;
}
.max-min-input{
    input{
       width: 50%; 
       height: 35px;
       border: 1px $Solid $Black;
       background-color:$HomeLandColor;
       outline: $None;
       padding-left: 1%;
       color:$White;
       &:nth-child(1){
        border-right: $None;
       }
       &::placeholder{
        color:$White;
        padding-left: 1%;
       }
    }
    
}
.search-flex-part{
    overflow: hidden;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 2%;
    border-radius: 10px;
    div{
        display: flex;
        flex-direction: column;
        padding-left: 0.5%;
        padding-right: 0.5%;
        select{
            border-radius: 0px;
            outline: 0px;
            border: $None;
        }
        label{
            color:$White;
        }
    }
}
.search-btn-click{
    font-size: 120%;
    background-color:$HomeLandColor;
    &:hover{
        background-color:$HomeLandColorWhite ;
    }
span{
    margin-right: $ZeroPointFive;
    i{
         font-size: 80%; 
    }
}
span{
display: inline-block;
width: 29px;
height: 28px;
border-radius: 50%;
padding-left: 0.2%;
padding-bottom: 1%;
i{
   
}
}

}
.MakeHandSelect{
    background-color: $HomeLandColor;
    span{
        color: $White;
    }
}
.chechAndLabel{
    height: 100px;
    
    div{
        display: flex;
        flex-direction: row;
        input{
            width: 20px;
            height: 20px;
           
        }
    }
}
.btn-mycolor{
    background-color:$HomeLandColor;
    color:$White;
    &:hover{
        background-color: $HomeLandColorWhite;
    }
}
.forOverFlow {
    overflow-y: scroll;
    overflow-x: hidden;
}
.forOverFlow::-webkit-scrollbar {
    width: 10px;
    background-color:$HomeLandColor; 
}

.forOverFlow::-webkit-scrollbar-thumb {
    background-color: $White; 
}

.forOverFlow::-webkit-scrollbar-track {
    background-color:$HomeLandColor;
}
.bg-map {
    background-image: url("../logo.home/100-King-St-W-Google-Maps.png");
    background-size: 100% auto;
    background-clip: padding-box;
    background-attachment: fixed;
    border:3px $Solid $HomeLandColor;
    div{
        width: 200px;
    }
}


