.card-home{   
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 2%;
    height: 340px !important;
     div{
        height: 50%;
    &:nth-child(1){
        border-radius: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        div{
            width: 90%;
            height: 100%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
           
            span{
                 z-index: 5000;
                display: inline-block;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background-color:rgba(171, 173, 172, 0.5);
              
                i{
                    margin-top: 20%;
                    margin-left: 30%;
                }
        }
        &:nth-child(2){
                height: 100%;
                width: 100%;
                div{
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    img{
                        
                       
                    }
                }
            }
    }
    }   
    &:nth-child(2){
       
       p{
        padding-left: 2%;
        margin-bottom: 0%;
        font-weight: 600;
        font-style: italic;
        span{
            font-weight: 400;
            margin-left: 2%;
            font-style: normal;
          }
       }
    }   
    }
    
}
