.card-home{   
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    padding-bottom: 2%;
    background-color: white !important;
    border: 1px $Solid $HomeLandColor;
    height: 400px !important;
     div{
        height: 50%;
    &:nth-child(1){
        border-radius: 10px;
        position: relative;
        @include FlexJustify;
        div{
            width: 90%;
            height: 100%;
            position: absolute;
            @include FlexAlign;
            justify-content: space-between;
         
            span{
               z-index: 500;
                display: inline-block;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background-color:$WhiteDarker;
                
              
                i{
                    margin-top: 20%;
                    margin-left: 30%;
                    color: $HomeLandColor;
                }
        }
        &:nth-child(2){
                height: 100%;
                width: 100%;
                div{
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
            }
    }
    }   
    &:nth-child(2){
       
       p{
        padding-left: 2%;
        margin-bottom: 0%;
        font-weight: 600;
        font-style: italic;
        span{
            font-weight: 400;
            margin-left: 2%;
            font-style: normal;
          }
       }
    }   
    }
    
}
@media(max-width:860px) {
    .card-home{
        height:440px !important;
    }
}
@media(max-width:576px) {
    .card-home{
        height:500px !important;
        div{
            height: 62%;}
    }
}
@media(max-width:400px) {
    .card-home{
        height:450px !important;
        div{
            height: 57%;}
    }
}
@media(max-width:370px) {
    .card-home{
        height:450px !important;
        div{
            height: 55%;}
    }
}
@media(max-width:300px) {
    .card-home{
        height:450px !important;
        div{
            height: 50%;}
    }
}
.mybasketOnImg{
    position: absolute;
    z-index: 5001;
    top: 5%;
    right:3%;
    background-color: $WhiteDark;
    padding: 5px 8px 5px 8px;
    border-radius: 50%;
    i{
        color: $White;
    }
}
.mydeleteOnImg{
    position: absolute;
    z-index: 5001;
    top: 5%;
    right:3%;
    background-color:$WhiteDark;
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
    i{
        color: $White;
    }
}
.myVideoOnImg{
    
    right:18% !important;
  
}
.mydeleteOnImg{
    display: $None;
    background-color: red !important;
    opacity: 0.8;
}
.BasketİsEmpty{
    height: 50vh !important;
}
.CounterOnImg{
    position: absolute;
    z-index: 5001;
    width: max-content !important;
    bottom:  5%;
    right:45%;
    background-color:$HomeLandColor !important;
    color: $White;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    border-radius: 50%;
    height: auto !important;
}
.Recommend{
    padding-bottom: 3%;
    border:3px solid $HomeLandColor;
    border-radius: 10px;
    position: relative;
    padding-top: 5%;
    margin:8px;
}
.RecommendSections{
    width: auto;
    overflow-x:scroll;
    overflow-y: hidden;
}
.RecommendSections::-webkit-scrollbar {
    height: 10px;
    background-color:$ScrollbarColor ;
}

.RecommendSections::-webkit-scrollbar-thumb {
    background-color:$WhiteDark; 
}

.RecommendSections::-webkit-scrollbar-track {
    background-color:$ScrollbarColor;
}
.RecommendText{
    margin-top: 2%;
    @include FlexJustify;
    position: absolute;
    top: 0.5%;
    right: 50%;
    transform: translateX(50%);
    p{
        margin-bottom: 0 !important;
        font-size: 130%;
        color: $HomeLandColor;

    }
}
