.card-home{   
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 2%;
    height: 400px !important;
     div{
        height: 50%;
    &:nth-child(1){
        border-radius: 10px;
        position: relative;
        display: flex;
        justify-content: center;
        div{
            width: 90%;
            height: 100%;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
         
            span{
               z-index: 500;
                display: inline-block;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background-color:rgba(171, 173, 172, 0.5);
              
                i{
                    margin-top: 20%;
                    margin-left: 30%;
                }
        }
        &:nth-child(2){
                height: 100%;
                width: 100%;
                div{
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
            }
    }
    }   
    &:nth-child(2){
       
       p{
        padding-left: 2%;
        margin-bottom: 0%;
        font-weight: 600;
        font-style: italic;
        span{
            font-weight: 400;
            margin-left: 2%;
            font-style: normal;
          }
       }
    }   
    }
    
}
@media(max-width:860px) {
    .card-home{
        height:440px !important;
    }
}
@media(max-width:576px) {
    .card-home{
        height:500px !important;
        div{
            height: 62%;}
    }
}
@media(max-width:400px) {
    .card-home{
        height:450px !important;
        div{
            height: 57%;}
    }
}
@media(max-width:370px) {
    .card-home{
        height:450px !important;
        div{
            height: 55%;}
    }
}
@media(max-width:300px) {
    .card-home{
        height:450px !important;
        div{
            height: 50%;}
    }
}
.mybasketOnImg{
    position: absolute;
    z-index: 5001;
    top: 5%;
    left:85%;
    background-color: rgb(122, 122, 122);
    padding: 5px 8px 5px 8px;
    border-radius: 50%;
    i{
        color: white;
    }
}
.mydeleteOnImg{
    position: absolute;
    z-index: 5001;
    top: 5%;
    left:85%;
    background-color: rgb(122, 122, 122);
    padding: 5px 10px 5px 10px;
    border-radius: 50%;
    i{
        color: white;
    }
}
.mydeleteOnImg{
    display: none;
    background-color: red !important;
    opacity: 0.8;
}
.BasketİsEmpty{
    height: 50vh !important;
}
