$HomeLandColor:  rgb(79, 189, 89);
$HomeLandColorWhite:  rgb(79, 212, 101);
$HomeLandColorBlack:  rgb(79, 181, 74);
$White:white;
$WhiteDark:rgb(163, 163, 163);
$WhiteDarker:rgba(171, 173, 172, 0.5);
$Black:rgb(0, 0, 0);
$BlackWhite:#333;
$ScrollbarColor:rgb(208, 212, 209);
@mixin FlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
@mixin FlexAlign {
    display: flex;
    align-items: center;
  }
@mixin FlexJustify {
    display: flex;
    justify-content: center;
  }
$ZeroPointFive:0.5%;
$ZeroPx:0px;
$Solid:solid;
$None:none;