@charset "UTF-8";
.search-part {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.max-min-input input {
  width: 50%;
  height: 35px;
  border: 1px solid black;
  background-color: rgb(79, 189, 89);
  outline: none;
  padding-left: 1%;
  color: white;
}
.max-min-input input:nth-child(1) {
  border-right: none;
}
.max-min-input input::-moz-placeholder {
  color: white;
  padding-left: 1%;
}
.max-min-input input::placeholder {
  color: white;
  padding-left: 1%;
}

.search-flex-part {
  overflow: hidden;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 2%;
  border-radius: 10px;
}
.search-flex-part div {
  display: flex;
  flex-direction: column;
  padding-left: 0.5%;
  padding-right: 0.5%;
}
.search-flex-part div select {
  border-radius: 0px;
  outline: 0px;
  border: none;
}
.search-flex-part div label {
  color: white;
}

.search-btn-click {
  font-size: 120%;
  background-color: rgb(79, 189, 89);
}
.search-btn-click:hover {
  background-color: rgb(79, 173, 87);
}
.search-btn-click span {
  margin-right: 0.5%;
}
.search-btn-click span i {
  font-size: 80%;
}
.search-btn-click span {
  display: inline-block;
  width: 29px;
  height: 28px;
  border-radius: 50%;
  padding-left: 0.2%;
  padding-bottom: 1%;
}
.MakeHandSelect {
  background-color: rgb(79, 189, 89);
}
.MakeHandSelect span {
  color: white;
}

.chechAndLabel {
  height: 100px;
}
.chechAndLabel div {
  display: flex;
  flex-direction: row;
}
.chechAndLabel div input {
  width: 20px;
  height: 20px;
}

.btn-mycolor {
  background-color: rgb(79, 189, 89);
  color: white;
}
.btn-mycolor:hover {
  background-color: rgb(112, 211, 121);
}

.forOverFlow {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Webkit-specific styles for the custom scrollbar */
.forOverFlow::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(79, 189, 89);
}

.forOverFlow::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
}

.forOverFlow::-webkit-scrollbar-track {
  background-color: rgb(79, 189, 89);
}

.footer-end-part {
  padding: 3%;
}
.footer-end-part p {
  color: rgb(0, 0, 0);
  text-align: center;
  margin-bottom: 0%;
}

.Error-massage {
  height: 50vh;
}
.Error-massage button {
  margin-top: 4%;
  background-color: rgb(79, 189, 89);
}
.Error-massage button:hover {
  background-color: rgb(75, 172, 83);
}
.Error-massage button a {
  color: white;
  font-size: 120%;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-weight: 600;
}

.header-ul {
  padding-left: 0%;
  margin: 0.5% 0 5px 0;
  height: auto;
  width: 250px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}
.header-ul li a {
  text-decoration: none;
  color: white;
}
.header-ul li a:hover {
  color: rgb(160, 248, 167);
}

.for-height-header {
  height: auto;
  background-color: rgb(79, 189, 89);
}
.for-height-header span {
  color: white;
}

.logo-in-header {
  font-family: "CustomFont";
  font-size: 151%;
}
@font-face {
  font-family: "CustomFont";
  src: url("../font/Geminies.ttf") format("woff2"), url("../font/Geminies.ttf") format("woff");
}

.download-ads {
  padding: 0.5% 0%;
  margin: 0.5% 0 5px 0;
  border-radius: 0% !important;
  width: 180px;
  color: white;
  position: relative;
  background-color: rgb(79, 145, 85);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.download-ads:hover {
  background-color: rgb(128, 229, 136);
  color: white;
}
.download-ads span {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 3px;
  border-radius: 50%;
  background-color: rgb(72, 180, 81);
  margin-right: 3%;
}
.download-ads span i {
  margin-top: 20%;
}

.img-div-for-height {
  height: 200px;
}

.download-ads-elements {
  position: absolute;
  left: 0;
  top: 103.2%;
  background-color: rgb(72, 180, 81);
  width: 100%;
}
.download-ads-elements ul {
  padding-left: 0;
}
.download-ads-elements ul li {
  list-style-type: none;
  padding: 3%;
}
.download-ads-elements ul li a {
  color: white;
}
.download-ads-elements ul li:hover {
  background-color: rgb(112, 194, 148);
}

html, body {
  width: 100% !important;
}

.card-home {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-bottom: 2%;
  height: 400px !important;
}
.card-home div {
  height: 50%;
}
.card-home div:nth-child(1) {
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}
.card-home div:nth-child(1) div {
  width: 90%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-home div:nth-child(1) div span {
  z-index: 500;
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: rgba(171, 173, 172, 0.5);
}
.card-home div:nth-child(1) div span i {
  margin-top: 20%;
  margin-left: 30%;
}
.card-home div:nth-child(1) div:nth-child(2) {
  height: 100%;
  width: 100%;
}
.card-home div:nth-child(1) div:nth-child(2) div {
  height: 100%;
  width: 100%;
  position: absolute;
}
.card-home div:nth-child(2) p {
  padding-left: 2%;
  margin-bottom: 0%;
  font-weight: 600;
  font-style: italic;
}
.card-home div:nth-child(2) p span {
  font-weight: 400;
  margin-left: 2%;
  font-style: normal;
}

@media (max-width: 860px) {
  .card-home {
    height: 440px !important;
  }
}
@media (max-width: 576px) {
  .card-home {
    height: 500px !important;
  }
  .card-home div {
    height: 62%;
  }
}
@media (max-width: 400px) {
  .card-home {
    height: 450px !important;
  }
  .card-home div {
    height: 57%;
  }
}
@media (max-width: 370px) {
  .card-home {
    height: 450px !important;
  }
  .card-home div {
    height: 55%;
  }
}
@media (max-width: 300px) {
  .card-home {
    height: 450px !important;
  }
  .card-home div {
    height: 50%;
  }
}
.mybasketOnImg {
  position: absolute;
  z-index: 5001;
  top: 5%;
  left: 85%;
  background-color: rgb(122, 122, 122);
  padding: 5px 8px 5px 8px;
  border-radius: 50%;
}
.mybasketOnImg i {
  color: white;
}

.mydeleteOnImg {
  position: absolute;
  z-index: 5001;
  top: 5%;
  left: 85%;
  background-color: rgb(122, 122, 122);
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
}
.mydeleteOnImg i {
  color: white;
}

.mydeleteOnImg {
  display: none;
  background-color: red !important;
  opacity: 0.8;
}

.BasketİsEmpty {
  height: 50vh !important;
}

.div-in-input input {
  width: 98%;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
  height: 35px;
  outline: none;
  border: 1px solid rgb(163, 163, 163);
  padding-left: 0.5%;
}

.div-in-label label {
  padding-left: 0.5%;
  font-style: italic;
}

.div-in-select select {
  width: 98%;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
  height: 35px;
  outline: none;
  border: 1px solid rgb(163, 163, 163);
  padding-left: 0.5%;
}

.main-div-for-chechbox div input {
  height: 15px;
  width: 15px;
}

.filetype {
  display: none;
}

.custom-file-input {
  font-family: Arial, sans-serif;
  background-color: rgb(79, 189, 89);
  border: 1px solid #7c7b7b;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-input:hover {
  background-color: rgb(112, 211, 121);
}

.custom-file-input:active {
  background-color: #41ce3c;
}

.backgrounImgDefault {
  background-image: url(../logo.home/Logo-white.PNG);
  background-repeat: round;
}

.answer-images-rent {
  border-radius: 5px;
  padding-bottom: 2%;
  height: 700px !important;
}
.answer-images-rent div {
  height: 100%;
}
.answer-images-rent div:nth-child(1) {
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
}
.answer-images-rent div:nth-child(1) div {
  width: 90%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.answer-images-rent div:nth-child(1) div span {
  z-index: 5000;
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: rgba(171, 173, 172, 0.5);
}
.answer-images-rent div:nth-child(1) div span i {
  margin-top: 20%;
  margin-left: 30%;
}
.answer-images-rent div:nth-child(1) div:nth-child(2) {
  height: 100%;
  width: 100%;
}
.answer-images-rent div:nth-child(1) div:nth-child(2) div {
  height: 100%;
  width: 100%;
  position: absolute;
}
.answer-images-rent div:nth-child(1) div:nth-child(2) div img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
}
.answer-images-rent div:nth-child(2) p {
  padding-left: 2%;
  margin-bottom: 0%;
  font-weight: 600;
  font-style: italic;
}
.answer-images-rent div:nth-child(2) p span {
  font-weight: 400;
  margin-left: 1%;
  font-style: normal;
}

@media (max-width: 900px) {
  .answer-images-rent {
    height: 500px !important;
  }
}
@media (max-width: 600px) {
  .answer-images-rent {
    height: 400px !important;
  }
}
@media (max-width: 450px) {
  .answer-images-rent {
    height: 300px !important;
  }
}
.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-link {
  text-decoration: none;
  padding: 3px 6px;
  margin-left: 1px;
  margin: 0 4px;
  border: 1px solid rgb(173, 172, 172);
  color: #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.page-link:hover {
  background-color: rgb(79, 189, 89) !important;
}

.active-page button {
  background-color: rgb(79, 189, 89);
  color: white;
}

.page-link:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.page-link:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.page-active {
  background-color: rgb(79, 189, 89) !important;
}

.login-div {
  height: 100vh;
}
.login-div input {
  height: 4%;
  width: 30%;
  margin: 0.5%;
  padding-left: 0.5%;
}

.LinkTree div {
  display: flex;
  justify-content: center;
}
.LinkTree div a {
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

.insideCard-home {
  border-radius: 5px;
  padding-bottom: 2%;
  height: 105vw !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.insideCard-home div {
  height: 40%;
}
.insideCard-home div:nth-child(1) {
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
}
.insideCard-home div:nth-child(1) div {
  width: 90%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.insideCard-home div:nth-child(1) div span {
  z-index: 5000;
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: rgba(171, 173, 172, 0.5);
}
.insideCard-home div:nth-child(1) div span i {
  margin-top: 20%;
  margin-left: 30%;
}
.insideCard-home div:nth-child(1) div:nth-child(2) {
  height: 100%;
  width: 100%;
}
.insideCard-home div:nth-child(1) div:nth-child(2) div {
  height: 100%;
  width: 100%;
  position: absolute;
}
.insideCard-home div:nth-child(1) div:nth-child(2) div img {
  -o-object-fit: cover !important;
     object-fit: cover !important;
}
.insideCard-home div:nth-child(2) p {
  padding-left: 2%;
  margin-bottom: 0%;
  font-weight: 600;
  font-style: italic;
}
.insideCard-home div:nth-child(2) p span {
  font-weight: 400;
  margin-left: 0.5%;
  font-style: normal;
}

.height-for-coordiante {
  height: 490px !important;
}

.height-for-calling {
  height: 50px;
}

@media (max-width: 1600px) {
  .insideCard-home {
    height: 110vw !important;
  }
}
@media (max-width: 1500px) {
  .insideCard-home {
    height: 125vw !important;
  }
}
@media (max-width: 1400px) {
  .insideCard-home {
    height: 125vw !important;
  }
  .insideCard-home div {
    height: 35%;
  }
}
@media (max-width: 1250px) {
  .insideCard-home {
    height: 130vw !important;
  }
}
@media (max-width: 1180px) {
  .insideCard-home {
    height: 135vw !important;
  }
}
@media (max-width: 1180px) {
  .insideCard-home {
    height: 140vw !important;
  }
}
@media (max-width: 1100px) {
  .insideCard-home {
    height: 150vw !important;
  }
}
@media (max-width: 1040px) {
  .insideCard-home {
    height: 160vw !important;
  }
}
@media (max-width: 970px) {
  .insideCard-home {
    height: 170vw !important;
  }
  .insideCard-home div {
    height: 30%;
  }
}
@media (max-width: 870px) {
  .insideCard-home {
    height: 180vw !important;
  }
}
@media (max-width: 800px) {
  .insideCard-home {
    height: 220vw !important;
  }
}
@media (max-width: 700px) {
  .insideCard-home {
    height: 250vw !important;
  }
}
@media (max-width: 600px) {
  .insideCard-home {
    height: 290vw !important;
  }
  .insideCard-home div {
    height: 25%;
  }
}
@media (max-width: 500px) {
  .insideCard-home {
    height: 330vw !important;
  }
  .insideCard-home div {
    height: 23%;
  }
}
@media (max-width: 450px) {
  .insideCard-home {
    height: 350vw !important;
  }
  .insideCard-home div {
    height: 23%;
  }
}
@media (max-width: 430px) {
  .insideCard-home {
    height: 380vw !important;
  }
  .insideCard-home div {
    height: 20%;
  }
}
@media (max-width: 400px) {
  .insideCard-home {
    height: 400vw !important;
  }
  .insideCard-home div {
    height: 20%;
  }
}
@media (max-width: 370px) {
  .insideCard-home {
    height: 430vw !important;
  }
  .insideCard-home div {
    height: 18%;
  }
}
@media (max-width: 350px) {
  .insideCard-home {
    height: 480vw !important;
  }
}
@media (max-width: 320px) {
  .insideCard-home {
    height: 550vw !important;
  }
}
@media (max-width: 290px) {
  .insideCard-home {
    height: 600vw !important;
  }
}
.logo-on-images {
  position: absolute;
  top: 55%;
  height: 20% !important;
  z-index: 60000;
}
.logo-on-images p {
  font-size: 100%;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}/*# sourceMappingURL=main.css.map */