.search-part {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.max-min-input input {
  width: 50%;
  height: 98%;
}

.search-flex-part {
  overflow: hidden;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 2%;
  border-radius: 10px;
}
.search-flex-part div {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
}
.search-flex-part div select {
  border-radius: 0px;
  outline: 0px;
  border: none;
}
.search-flex-part div label {
  color: white;
}

.search-btn-click {
  font-size: 120%;
}
.search-btn-click span {
  margin-right: 0.5%;
}
.search-btn-click span i {
  font-size: 80%;
}
.search-btn-click span {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: rgba(161, 236, 194, 0.2);
}
.search-btn-click span i {
  margin-bottom: 10%;
  margin-left: 10%;
}

.for-bottom-border {
  border-bottom: 1px solid black;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.header-ul {
  padding-left: 0%;
  margin-bottom: 0%;
  height: 100%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}
.header-ul li a {
  text-decoration: none;
  color: white;
}
.header-ul li a:hover {
  color: #5ba9b3;
}

.for-height-header {
  height: 50px;
}
.for-height-header span {
  color: white;
}

.logo-in-header {
  font-family: "CustomFont";
  font-size: 151%;
}
@font-face {
  font-family: "CustomFont";
  src: url("../font/Geminies.ttf") format("woff2"), url("../font/Geminies.ttf") format("woff");
}

.download-ads {
  padding: 0.5% 1%;
  border-radius: 0% !important;
  width: 20%;
  position: relative;
}
.download-ads span {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: rgb(95, 173, 129);
  margin-right: 3%;
}
.download-ads span i {
  margin-top: 20%;
}

.img-div-for-height {
  height: 200px;
}

.download-ads-elements {
  position: absolute;
  left: 0;
  top: 103.2%;
  background-color: rgb(95, 173, 129);
  width: 100%;
}
.download-ads-elements ul {
  padding-left: 0;
}
.download-ads-elements ul li {
  padding: 3%;
}
.download-ads-elements ul li:hover {
  background-color: rgb(112, 194, 148);
}

.card-home {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-bottom: 2%;
  height: 330px !important;
}
.card-home div {
  height: 50%;
}
.card-home div:nth-child(1) {
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}
.card-home div:nth-child(1) div {
  width: 90%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-home div:nth-child(1) div span {
  z-index: 5000;
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: rgba(161, 236, 194, 0.5);
}
.card-home div:nth-child(1) div span i {
  margin-top: 20%;
  margin-left: 30%;
}
.card-home div:nth-child(1) div:nth-child(2) {
  height: 100%;
  width: 100%;
}
.card-home div:nth-child(1) div:nth-child(2) div {
  height: 100%;
  width: 100%;
  position: absolute;
}
.card-home div:nth-child(2) p {
  padding-left: 2%;
  margin-bottom: 0%;
  font-weight: 600;
  font-style: italic;
}
.card-home div:nth-child(2) p span {
  font-weight: 400;
  margin-left: 2%;
  font-style: normal;
}

.div-in-input input {
  width: 98%;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
  height: 35px;
  outline: none;
  border: 1px solid rgb(163, 163, 163);
  padding-left: 0.5%;
}

.div-in-label label {
  padding-left: 0.5%;
  font-style: italic;
}

.div-in-select select {
  width: 98%;
  border-radius: 0px;
  background-color: rgb(255, 255, 255);
  height: 35px;
  outline: none;
  border: 1px solid rgb(163, 163, 163);
  padding-left: 0.5%;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-link {
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 5px;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.page-link:hover {
  background-color: #f2f2f2;
}

.page-link:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.page-link:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.page-active {
  background-color: aquamarine;
}/*# sourceMappingURL=main.css.map */